@import "./styles/variables";
@import "./styles/mixins.scss";
@import "./styles/reset.scss";
@import "./styles/layout.scss";



.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto; //Header | Content | Footer
  min-height: 100dvh;
  place-items: center;
}

Header {
  position: sticky;
  width: 100%;
  background-color: #424242;
  color: white;
  text-align: center;
  max-height: 100px;
  padding: px 0;
}

.content {
  color: rgb(255, 255, 255);
  height: 100%;
  width: 100%;
  max-width: calc(100vw - 5px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // padding: 20px;
  // margin: 20px;
  flex-grow: 1; // Ser till att content tar all tillgänglig höjd
}

footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: #424242;
  color: white;
  text-align: center;
  padding: 10px 0;
  z-index: 10;
  max-height: 50px;
}