@import "./styles/variables";
@import "./styles/mixins.scss";
@import "./styles/reset.scss";
@import "./styles/layout.scss";

.app-container {
  display: grid;
  grid-template-rows: auto 1fr auto; //Header | Content | Footer
  min-height: 100vh;
  place-items: center;
}

.header {
  width: 100%;
  background-color: #222;
  color: white;
  text-align: center;
  padding: 15px 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  flex-grow: 1; // Ser till att content tar all tillgänglig höjd
}

footer {
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px 0;
}